@mixin font($font-family, $font-name, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('./../fonts/#{$font-name}.woff2') format('woff2'),
        url('./../fonts/#{$font-name}.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: swap;
    }
}