$primary-font: "Nunito Sans", sans-serif;
$secondary-font: "Mulish";

// theme color
$black: #000000;
$white: #ffffff;
$orange: #fb8b04;
$lightblue: #00c8f9;
$lightgreen: #00cc99;
$lightgray: #d9d9d9;
$seashell: #f1f1f1;
$concrete: #f2f2f2;
$graysecondary: #f3f3f3;
$Astral: #2e75b6;
$sharkblack: #1d2025;
$scorpion: #595959;
$oslogray: #80898d;
$bunker: #131b1e;
$codgray: #3b3838;
$iron: #e6e7e9;
$yellow: #ffd966;
$footerbg: #001319;
$sharkcolor: #292d32;
$bg-gradient: linear-gradient(98.45deg, #f95800 0.92%, #fe8800 100%);
